/*Default Colors*/
body {
    --bgColor: #ffffff;
    --font-family: 'nimbus_sans_lregular';  
    --fontColor: #000000;
    --visabild: initial;
    --visaej: none;
    --colorlogo: #000;
    --sliderrange: 35.5rem 11rem;
}
/*Dark Theme Colors*/
body.dark-theme {
    --bgColor: #000;
    --font-family: Arial;  
    --fontColor: #fff;
    --visabild: none;  
    --visaej: initial;
    --colorlogo: #fff;
    --sliderrange: 29.5rem 17rem;
}

.logo {
    width: 300px;
}

svg.logo {
    fill: var(--fontColor);
}

@font-face {
    font-family: 'nimbus_sans_lbold';
    src: url('fonts/nimbussanl-bol-webfont.woff2') format('woff2'),
            url('fonts/nimbussanl-bol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nimbus_sans_lregular';
    src: url('fonts/nimbussanl-reg-webfont.woff2') format('woff2'),
            url('fonts/nimbussanl-reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.p-white {
    color: white;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

#videobackground {
position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  /* filter: invert(100%); */
}

.container {
    position: relative;
    z-index: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.knapp {
    position: fixed;
    display: flex;
    background-color: white;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    transition: 1s cubic-bezier(1,-0.1,.18,1.1) ;
    mix-blend-mode: exclusion;
}

.knapp:hover {
    width: 140vw;
    border-radius: 50%;
    height: 140vw;
    position: fixed;
    background-size: cover;
    background: white;
    mix-blend-mode: exclusion;
    /* filter: invert(100%); */
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.meny {
display: flex;
gap: 0.5rem;
max-width: 20rem;
}

header {
    display: grid;
    grid-template-columns: var(--sliderrange);
    justify-content: space-between;
    margin: 2rem;
    align-items: center;
    position: fixed;
}

.whitebox {
    width: 48rem;
    height: 4rem;
    background: var(--bgColor);
    position: fixed;
}

.nosticky {
    background: transparent;
}

.sticky {
    padding-top: 5rem;
}

a {
    color: var(--fontColor);
    text-decoration: none;
    font-size: 24px;
}
* {
    font-family: var(--font-family), Arial, Helvetica, sans-serif;
}

h4 {
    font-weight: lighter;
}

.centerhome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9rem;
}

.case {
    display: grid;
    grid-template-columns: 50vw 50vw;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.casetext {
    margin: 0;
    font-weight: lighter;
}

.case-layout {
    margin: 0 2rem 2rem 2rem;
    display: grid;
    grid-template-columns: 32rem 16rem;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1rem;
    margin-bottom: 0;
}

.case-desc {
    font-size: 0.8rem;
}

.caseinfo {
    font-size: 20px;
    margin: 0;
}

.caseimg {
    width: 38rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.linkbutton {
    display: grid;
    background-color: var(--fontColor);
    border: 2px solid var(--fontColor);
    color: var(--bgColor);
    padding: 0.2rem 1.5rem;
    margin-top: 5rem;
    width: 6rem;
}

.casevideo {
    width: 30vw;
    margin-left: 25vw;
}

.about-info {
    display: flex;
    gap: 6rem;
    /* justify-content: space-between; */
}

.about-img {
    width: 40vw;
    margin-left: 2rem;
}

.about-text {
    font-size: 0.6rem;
    margin-top: 0;
    margin-right: 2rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.btn-toggle {
    background: transparent;
    border: none;
}

body {
    color: var(--fontColor);
    background: var(--bgColor);
    margin: 0;
  }


img {
    display: var(--visabild);
}

video {
    display: var(--visabild);
}

.zero-img {
    display: var(--visaej);
}

.svg-small {
    width: 35rem;
}

.svg-about {
    width: 20rem;
}

html {
    font-size: 30px;
    scroll-behavior: smooth;
    max-width: 1440px;
    margin: auto;
}

p {
    font-size: 1rem;
}

/* @media (max-width: 1200px) { 
    html {
      font-size: 24px;
    }

    @media (max-width: 940px) { 
        html {
          font-size: 20px;
        }

    @media (max-width: 600px) {
        html {
        font-size: 18px;
    } */